body {
    background-image: url("images of coming-soon/download.jfif");
    background-attachment: fixed;

}
    

.grid-container {
    display: grid;
    grid-template-rows: 20% 80% 100% 10%;
    gap: 20px 20px;
    justify-content: space-between;
    
}
.grid-container > div {
    display: grid;
    justify-content: center;
}
 
.header {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}
.main {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-rows: 15% 15% 70%;
    

}
.content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);

}
h1 {
    font-size: 30px;
}
blockquote {
    font-size: 15px;

}
form {
font-size: 30px;

}


.footer {
    display: grid;
    grid-row: auto auto;
    background-color: rgba(255, 255, 255, 0.1);
}
nav li{
    display: inline;    
    font-size: 15px;

}
li{
    margin: 15px;
}