body {

    background-image: url("images of coming-soon/download.jfif");
    background-attachment: fixed;
    

}
    

.grid-container {
    display: grid;
    grid-template-rows: 20% 80% 100% 10%;
    gap: 20px 20px;
    justify-content: space-between;
    
}
.grid-container > div {
    display: grid;
    justify-content: center;
}
 
.header {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
}
.main {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-rows: 15% 15% 70%;
    

}
.content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.587);
    color: whitesmoke;
    border: 2px;
    border-radius: 2%;

}
h1 {
    font-size: 30px;
}
blockquote {
    font-size: 15px;

}
form {
font-size: 30px;

}


.footer {
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 30px;
    
    

}
.social-media{
    display: grid;   
    grid-template-columns: auto auto auto auto; 
    gap: 125px;
    font-size: 25px;
    margin-bottom: 5px;

    
    

}
ul{
    margin-left: 15px;
    padding-right: 0%;
    padding-top: 25px;
    font-size: 30px;
    float: right;
    
}
ul > li {
    display: inline;
    text-align: center;
    margin-right: 21px;
    padding: 2% 0%;
}
.heading {
    padding-top: 36px;
    padding-left: 50px;
}
.connect {
    text-align: center;
    font-size: 25px;
    margin: auto;
    
     
}
button{
    width:35%; height:8%;
    border-radius: 5px;
    background-color: rgba(250, 235, 215, 0.886);

}